@use '../../../assets/styles/tokens/spacing' as *;
@use '../../../assets/styles/tokens/typography' as *;
@use '../../../assets/styles/tokens/colors' as *;

.heading {
  font-size: $font-size-3xl;
  font-weight: $font-weight-bold;
  color: $color-text;
  margin-bottom: $spacing-8;
}
